numpy
pandas
scikit-learn
torch
torchvision
matplotlib
seaborn
jupyter
pytest
pyyaml
ragas
byaldi
accelerate
bitsandbytes
transformers
huggingface-hub
Pillow
PyPDF2
langchain-community
langchain-huggingface